{% extends 'main_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block page_title %}
メールアドレスの変更
{% endblock %}

{% block back_or_breadcrumb %}
< 戻る
{% endblock %}

{% block body_content %}
<div class="mypage-container">

    {# --- 左側メニューエリア --- #}
    {% include 'mypage_menu.html' %}

    {# --- 右側フォームエリア --- #}
    <div class="mypage-info">
        <dl class="row"> 
            <dt class="col-sm-4">現在のメールアドレス</dt>
            <dd class="col-sm-7">{{ user.email }}</dd>
        </dl>

        {# フォーム全体のエラーがあれば表示 #}
        {% if form.non_field_errors %}
            <ul class="errorlist nonfield">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}

            <dl class="row">
                <dt class="col-sm-4">{{ form.email.label }}</dt>
                <dd class="col-sm-7">
                    {{ form.email }}
                    {# フィールドごとのエラー #}
                    {% if form.email.errors %}
                        <ul class="errorlist">
                        {% for error in form.email.errors %}
                            <li class="form-error">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
            </dl>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary-action">更新</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}