{% extends 'main_base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}

{% block page_title %}
出品した商品
{% endblock %}

{% block back_or_breadcrumb %}
< 戻る
{% endblock %}

{% block body_content %}
<div class="mypage-container">
    {# --- 左側メニューエリア --- #}
    {% include 'mypage_menu.html' %}

    {# --- 右側フォームエリア --- #}
    <div class="mypage-info">
        {% if products %}
            <div class="list-group mx-auto">
                {% for product in products %}
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            {# --- 商品画像 --- #}
                            <div class="col-md-2 col-3">
                                <a href="{% url 'products:product_detail' pk=product.pk %}">
                                    {% if product.main_product_image %}
                                        <img src="{{ product.main_product_image.image.url }}" class="img-fluid" alt="{{ product.name }}">
                                    {% else %} {# メイン画像は必須だが念の為 #}
                                        {# 代替画像 #}
                                        <div class="bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 100px;">
                                            <small>画像なし</small>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
    
                            <div class="col-md-10 col-9" >
                                <div class="row align-items-center">
                                    {# --- 商品情報 --- #}
                                    <div class="col-md-6 col-12">
                                        <div class="product-title">
                                            {# 商品名 #}
                                            <h6 class="mb-1">
                                                <a href="{% url 'products:product_detail' pk=product.pk %}" class="text-decoration-none text-dark">
                                                    {{ product.name|truncatechars:20 }}
                                                </a>
                                            </h6>
                                        </div>
                                        <div class="product-description small mt-2 "> {{ product.description|linebreaksbr }} </div>
                                    </div>
    
                                    {# --- その他情報 --- #}
                                    <div class="col-md-6 col-12">
                                        <div class="d-flex justify-content-md-end align-items-center item-status-menu">
                                            {# 価格 #}
                                            <span class="text-muted">¥{{ product.price|intcomma }}</span>
                                            {# ステータス #}
                                            <span class="status-badge {{ product.status_class }}">
                                                {{ product.get_status_display }}
                                            </span>

                                            {# 編集ボタン #}
                                            {% if product.status == product.Status.FOR_SALE.value %}
                                                <button type="button" class="btn btn p-0 border-0">
                                                    <a href="{% url 'products:product_edit' product.pk %}"><i class="fas fa-pencil-alt text-muted"></i></a>
                                                </button>
                                            {% else %}
                                            {# 表示調整のため設置 #}
                                                <button type="button" class="btn btn p-0 border-0" style="visibility: hidden;">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                        <div class="ms-2 mt-2 text-right small text-muted">
                                            出品日時: {{ product.created_at }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center py-5">
                <p class="lead">出品した商品はありません。</p>
                <a href="{% url 'products:sell' %}" class="btn btn-primary-action mt-3">商品を出品する</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}