{% extends 'main_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block page_title %}
マイページ
{% endblock %}

{% block back_or_breadcrumb %}
< 戻る
{% endblock %}

{% block body_content %}
<div class="mypage-container">
    {# --- 左側メニューエリア --- #}
    {% include 'mypage_menu.html' %}

    {# --- 右側情報エリア --- #}
    <div class="mypage-info">
        <dl class="row"> 
            <dt class="col-sm-3">名前</dt>
            <dd class="col-sm-7">{{ user.name }}</dd>

            <dt class="col-sm-3">表示名</dt>
            <dd class="col-sm-7">{{ user.display_name | default:"-" }}</dd>

            <dt class="col-sm-3">所属園</dt>
            <dd class="col-sm-7">{{ user.kindergarten.name }}</dd>

            <dt class="col-sm-3">メールアドレス</dt>
            <dd class="col-sm-7">{{ user.email }}</dd>

            <dt class="col-sm-3">パスワード</dt>
            <dd class="col-sm-7">********</dd> {# パスワードは表示しない #}
        </dl>
    </div>
</div>
{% endblock %}
