{% extends 'main_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block page_title %}
パスワードの変更
{% endblock %}

{% block back_or_breadcrumb %}
＜戻る
{% endblock %}

{% block body_content %}
<div class="mypage-container">

    {# --- 左側メニューエリア --- #}
    <div class="mypage-menu">
        <div class="list-group">
            <a href="{% url 'accounts:profile_name_edit' %}" class="list-group-item list-group-item-action" aria-current="true">
                名前の変更 >
            </a>
            <a href="{% url 'accounts:profile_display_name_edit' %}" class="list-group-item list-group-item-action">
                表示名の変更 >
            </a>
            <a href="{% url 'accounts:profile_email_edit' %}" class="list-group-item list-group-item-action">
                メールアドレスの変更 >
            </a>
            <a href="{% url 'accounts:profile_password_edit' %}" class="list-group-item list-group-item-action custom-active">
                パスワードの変更 >
            </a>
        </div>
    </div>

    {# --- 右側フォームエリア --- #}
    <div class="col-md-8">
        {% if form.non_field_errors %}
            <ul class="errorlist nonfield">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
            <dl class="row">
                <dt class="col-sm-4">{{ field.label }}</dt>
                <dd class="col-sm-7">
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                        {% for error in field.errors %}
                            <li class="form-error">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
            </dl>
            {% endfor %}

            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary-action">更新</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}