{% extends 'main_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block page_title %}
パスワードの変更
{% endblock %}

{% block back_or_breadcrumb %}
< 戻る
{% endblock %}

{% block body_content %}
<div class="mypage-container">

    {# --- 左側メニューエリア --- #}
    {% include 'mypage_menu.html' %}

    {# --- 右側フォームエリア --- #}
    <div class="mypage-info">
        {% if form.non_field_errors %}
            <ul class="errorlist nonfield">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
            <dl class="row">
                <dt class="col-sm-4">{{ field.label }}</dt>
                <dd class="col-sm-7">
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                        {% for error in field.errors %}
                            <li class="form-error">{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
            </dl>
            {% endfor %}

            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary-action">更新</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}