{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{%block header%}
<div class="container d-flex justify-content-between align-items-center pb-2 pt-0">
    <div class="logo-area">
      <a href="{% url 'products:top' %}">
        <img src="{% static 'img/header_logo.png' %}" alt="園フリマロゴ" class="header-logo">
      </a>
    </div>
</div>
{%endblock%}
{%block content%}
<div class="container mt-5">
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
    <div class="row justify-content-center ">
        <div class="col-md-6"> 
            <div class="card login-card shadow-sm">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4 login-title">新規アカウント登録</h3>
                        {% if form.non_field_errors %}
                        <ul class="errorlist nonfield">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }} {# フィールド本体 (input, selectなど) をレンダリング #}
                
                            {% comment %} フィールドごとのヘルプテキスト {% endcomment %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                
                            {% comment %} フィールドごとのエラー {% endcomment %}
                            {% if field.errors %}
                                <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li class="form-error">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        {% endfor %}                
                        <button type="submit" class="btn btn-primary-action btn-block w-100">登録</button>
                    </form>
                    

                    <hr class="my-4"> <!-- 分割線 -->
                    <div class="text-center">
                        <a href="{% url 'accounts:login' %}" class="link-subtle">ログイン画面はこちら</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}