 /* select要素の高さを他のinput要素(.login-input)と揃えるための調整 */
select.login-input {
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 100%;
  color: #495057;
  }

.errorlist{
  padding: 0%;
}

.form-error {
  color: red;
  text-align: left;
  margin: 0;
  font-size: 0.8rem;
  list-style: none;
  padding: 0;
}

/* 商品画像 */
.image-upload-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.form-img-input{
  height: auto;
  border-radius: .25rem;
  width: 100%;
}
