/* mypage */
.mypage-container {
    display: flex; /* メニューと情報を横並びにする例 */
    gap: 20px; /* 要素間の隙間 */
}
.mypage-menu {
    flex: 1; /* 幅の割合 (例) */
    /* 必要なら枠線や背景色など */
}
.mypage-info {
    flex: 2; /* 幅の割合 (例) */
}

/* マイページメニュー */
.list-group-item {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* アクティブメニュー */
.custom-active {
    color: #4A8A85;  /* ミントより少し濃いグリーン系文字色 */
    font-weight: 400;
    border-bottom: 2px solid #A7DCD5;
}

.list-group-item-action:hover {
    background-color: #F6FCFB;  /* かなり淡いミント系 */
    color: #4A8A85;             /* 文字色はそのままキープ */
}

/* マイページ情報 */
dt { 
    text-align: right;
}

dd { 
    text-align: center;
}