/* mypage */
.mypage-container {
    display: flex; /* メニューと情報を横並びにする例 */
    gap: 20px; /* 要素間の隙間 */
}
.mypage-menu {
    flex: 1; /* 幅の割合 (例) */
    /* 必要なら枠線や背景色など */
}
.mypage-info {
    flex: 2; /* 幅の割合 (例) */
}

/* マイページメニュー */
.list-group-item {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* マイページ情報 */
dt { 
    font-weight: bold;
    text-align: right;
}

dd { 
    text-align: center;
}

/* マイページリンク */
.mypage-links {
    text-align: center;
}
.mypage-links a {
    margin-right: 1rem; /* 右にスペースを追加 */
  }
  
.mypage-links a:last-child {
    margin-right: 0; /* 最後のリンクだけ余分なスペースをなくす */
}