/* 規約 */
.terms-content{
    margin: 20px auto; 
    padding: 20px; 
}

.terms-content h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 10px;
  }
  
.terms-content ul {
    list-style: disc;
    margin-left: 20px;
}

.terms-content li {
    margin-bottom: 10px;
}

.terms-content strong {
    color: #D5442C; /* 強調文字を赤色に */
}   