{% extends 'main_base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block page_title %}
お気に入り
{% endblock %}

{% block back_or_breadcrumb %}
< 戻る
{% endblock %}

{% block body_content %}
<div class="mypage-container">
    {# --- 左側メニューエリア --- #}
    <div class="mypage-menu-area d-none d-md-block">
        {% include 'mypage_menu.html' %}
    </div>

    {# --- 右側フォームエリア --- #}
    <div class="mypage-info">
        {% if favorites %}
            <div class="list-group mx-auto">
                {% for favorite_item in favorites %}
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            {# --- 商品画像 --- #}
                            <div class="col-md-2 col-12 mb-2 text-center">
                                <a href="{% url 'products:product_detail' pk=favorite_item.product.pk %}">
                                    {% if favorite_item.product.main_product_image %}
                                        <img src="{{ favorite_item.product.main_product_image.image.url }}" class="img-fluid" alt="{{ product.name }}">
                                    {% else %}
                                        {# 代替画像 #}
                                        <div class="bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 100px;">
                                            <small>画像なし</small>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
    
                            <div class="col-md-10 col-12" >
                                <div class="row align-items-center">
                                    {# --- 商品情報 --- #}
                                    <div class="col-md-6 col-12">
                                        <div class="product-title">
                                            {# 商品名 #}
                                            <h6 class="mb-1">
                                                <a href="{% url 'products:product_detail' pk=favorite_item.product.pk %}" class="text-decoration-none text-dark">
                                                    {{ favorite_item.product.name|truncatechars:20 }}
                                                </a>
                                            </h6>
                                        </div>
                                        <div class="product-description small mt-2 "> {{ favorite_item.product.description|linebreaksbr }} </div>
                                    </div>
    
                                    {# --- その他情報 --- #}
                                    <div class="col-md-6 col-12">
                                        <div class="d-flex justify-content-end align-items-center item-status-menu">
                                            {# 価格 #}
                                            <span class="text-muted">¥{{ favorite_item.product.price|intcomma }}</span>
                                            {# ステータス #}
                                                <span class="status-badge {{ favorite_item.product.status_class }}">{{ favorite_item.product.get_status_display }}</span>
                                            {# お気に入り削除ボタン#}
                                            <form method="POST" action="{% url 'interactions:favorite_toggle' product_pk=favorite_item.product.pk %}" class="ms-2">
                                                {% csrf_token %}
                                                <input type="hidden" name="next" value="{{ request.path }}">
                                                <button type="submit" class="btn p-0 border-0">
                                                    <i class="fas fa-times text-muted"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="ms-2 mt-2 text-right small text-muted">
                                            {% if favorite_item.product.status == favorite_item.product.Status.FOR_SALE.value %}
                                                {% if favorite_item.product.is_purchase_intended_by_current_user %}
                                                    <form method="POST" action="{% url 'interactions:delete_purchase_intent' product_pk=favorite_item.product.pk %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="next" value="{{ request.path }}">
                                                        <button type="submit" class="btn btn-sm btn-danger-action">購入意思を取り消す</button>
                                                    </form>
                                                {% else %}
                                                    <form method="POST" action="{% url 'interactions:add_purchase_intent' product_pk=favorite_item.product.pk %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="next" value="{{ request.path }}">
                                                        <button type="submit" class="btn btn-sm btn-accent-action">購入意思表示を送る</button>
                                                    </form>
                                                {% endif %}
                                            {% else %}
                                                <div>{{ favorite_item.product.status_message_info }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center py-5">
                <p class="lead">お気に入り登録した商品はありません。</p>
                <a href="{% url 'products:top' %}" class="btn btn-primary-action mt-3">商品を探しにいく</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}