{%extends 'base.html'%}
{%load static%}
{%block header%}
<div class="container d-flex justify-content-between align-items-center py-2">
    <div class="logo-area">
      <a href="{% url 'products:top' %}">
        <img src="{% static 'img/header_logo.png' %}" alt="園フリマロゴ" class="header-logo">
      </a>
    </div>
    <nav class="navbar navbar-expand">
      <ul class="navbar-nav d-flex flex-row align-items-center">
        {% if user.is_authenticated %}
          {# --- マイページ (ドロップダウンメニュー) --- #}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMypage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">マイページ</a> {# ページ遷移はしないので、href="#" #}
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMypage">
                <a class="dropdown-item" href="{% url 'accounts:mypage' %}">マイページ</a>
                <a class="dropdown-item" href="{% url 'interactions:favorite_list' %}">お気に入り</a>
                <a class="dropdown-item" href="{% url 'accounts:my_listings' %}">出品した商品</a>
                <a class="dropdown-item" href="{% url 'interactions:sent_purchase_intents_list' %}">購入意思を示した商品</a>
                <a class="dropdown-item" href="{% url 'interactions:received_purchase_intents_list' %}">購入意思を受けた商品</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'accounts:profile_name_edit' %}">名前の変更</a>
                <a class="dropdown-item" href="{% url 'accounts:profile_display_name_edit' %}">表示名の変更</a>
                <a class="dropdown-item" href="{% url 'accounts:profile_email_edit' %}">メールアドレスの変更</a>
                <a class="dropdown-item" href="{% url 'accounts:profile_password_edit' %}">パスワードの変更</a>
            </div>
          </li>

          <li class="nav-item"><a class="nav-link" href="{% url 'products:sell' %}">出品</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interactions:favorite_list' %}" title="お気に入り">
                <i class="far fa-heart" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'accounts:logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger-action">ログアウト</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">新規登録</a></li>
          <li class="nav-item"><a class="btn btn-primary-action" href="{% url 'accounts:login' %}">ログイン</a></li>
        {% endif %}
      </ul>
    </nav>
</div>
{%endblock%}
{%block content%}
<div class="card-wrapper">

  {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
  {% endif %}
    <div class="card container">
      <!-- タイトル　-->
      <div class="card-header text-center">
        <h4>{% block page_title %}{% endblock %}</h4>
      </div>

      <!-- 戻る or パンくず：子テンプレートで上書き -->
      <div class="position-relative">
        <a href="{% block back_href %}javascript:history.back(){% endblock %}" class="back-link">{% block back_or_breadcrumb %}{% endblock %}</a>
      </div>

      <!-- コンテンツ -->
      <div class="card-content">
        {% block body_content %}
        {% endblock %}
      </div>
    </div>
</div>
{%endblock%}