{%extends 'base.html'%}
{%load static%}
{%block header%}
<div class="container d-flex justify-content-between align-items-center py-2">
    <div class="logo-area">
      <a href="{% url 'products:top' %}">
        <img src="{% static 'img/header_logo.png' %}" alt="園フリマロゴ" class="header-logo">
      </a>
    </div>
    <nav class="navbar navbar-expand">
      <ul class="navbar-nav d-flex flex-row">
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:mypage' %}">マイページ</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'products:sell' %}">出品</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interactions:favorite_list' %}" title="お気に入り">
                <i class="far fa-heart" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'accounts:logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn btn-danger-action">ログアウト</button>
            </form>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">新規登録</a></li>
        {% endif %}
      </ul>
    </nav>
</div>
{%endblock%}
{%block content%}
<div class="card-wrapper">

  {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
  {% endif %}
    <div class="card container">
      <!-- タイトル　-->
      <div class="card-header text-center">
        <h4>{% block page_title %}{% endblock %}</h4>
      </div>

      <!-- 戻る or パンくず：子テンプレートで上書き -->
      <div class="position-relative">
        <a href="{% block back_href %}javascript:history.back(){% endblock %}" class="back-link">{% block back_or_breadcrumb %}{% endblock %}</a>
      </div>

      <!-- コンテンツ -->
      <div class="card-content">
        {% block body_content %}
        {% endblock %}
      </div>
    </div>
</div>
{%endblock%}